button{
    cursor: pointer;
}

.welcome-btn{
    background-color: rgb(16, 76, 231);
    border: solid black;
    border-radius: 30px;
    width: 6%;
    height: 7.5%;
    position: absolute;
    top: 0%;
    right: 0%;
}

.welcome-btn:hover{
    transition: 2s;
    background-color: black;
    border: solid rgb(16, 76, 231);
    color: rgb(16, 76, 231);
}