
.border-top{
    background-color: rgb(49, 49, 255);
    width: 100%;
    height: 6%;
    position: absolute;
    top: 0%;
    left: 0%; 
}


.other{
    height: 94%;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.term{
    color: white;
    font-family: monospace;
}


.enter{
    width: 95%;
    height: 98.345%;
    position: absolute;
    right: 0%;
    bottom: 0%;
    background-color: black;
    border: none;
    color: white;
    resize: none;
}